<script src="/script/fileContent.js" defer></script>
<div class="main-container">
  <%-include("modal")%> <%-include("sidebar")%>
  <main>
    <%-include("nav")%>
    <div class="main-content" id="main-content">
      <h2>Contents</h2>
      <table>
        <thead class="table-head">
          <th style="width: 60%">Name</th>
          <th>Type</th>
          <th>Size</th>
          <th>Created at</th>
          <th></th>
        </thead>

        <%if(files) {%> <%files.forEach(function(val,index) {%>
        <tr class="table-body" id="table-body">
          <td style="padding: 5px">
            <a
              href="<%=val.type === "folder" ? `/folder/${val.id}/${val.name}` : `/file/i/${val.id}`%>"
              data-file-id="<%=val.id%>"
              data-file-type="<%=val.type%>"
              class="file-name"
              target="<%=val.type === "folder" ? '_self' : '_blank'%>"
            >
              <span
                class="mdi <%=val.type === "folder" ? 'mdi-folder' : 'mdi-file'%>"
                style="color: rgb(109, 109, 108); font-size: 1.5rem"
              ></span
              ><%=val.name%></a
            >
          </td>
          <td><%=val.file_type ? val.file_type : "Folder"%></td>
          <td><%=val.file_size ?  fileSizeFormat(parseInt(val.file_size)) : "..."%></td>
           <td><%=dateFormat(val.createdAt,"MMMM dd, yyyy")%></td>
          <td class="table-options" id="table-options">
            <span class="mdi mdi-dots-horizontal-circle-outline options"></span>
            <div class="drop-down-options">
              <span class="mdi mdi-rename rename"> Rename</span>
              <form method="POST" action="/file/delete/<%=val.id%>/<%=val.type%>" onsubmit="return confirmation()"><button type="submit" ><span class="mdi mdi-delete">
              </span> Delete</button></form>
             
              <hr />
              <span class="mdi mdi-share share-option" style="width: 100%;"> Share</span>
              
                <div class="share-container" >
                  <%if(val.type === "folder"){%>
                    <%if(val.file_share.length > 0){%>
                      <span class="share-button folder-with-duration copy-file-link " onclick="copyHandlerFolder('<%=val.file_share[0].id%>')"><span><span class="mdi mdi-link"></span> Copy link</span>
                    <%}%>
                    <%if(val.file_share.length <= 0 ){%>  <span class="share-button" ><span class="mdi mdi-account-plus"></span> With link</span> <%}%>
                  
                    <%}%>
                  <%if(val.type === "file"){%><span class="share-button copy-file-link folder-with-duration" onclick="copyHandler('<%=val.id%>')"><span><span class="mdi mdi-link"></span> Copy link</span><%}%>
                </div>
               
                <%if(val.type === "file"){%>
                    <form action="/file/d/<%=val.id%>" method="POST" ><button type="submit"><span class="mdi mdi-download"></span> Download</button></form>
                  <%}%>
              
            </div>
          </td>
        </tr>
        <%})%> <%}%>
      </table>
    </div>
  </main>
</div>
