<%-include("header")%>

<div class="main-container">
  
  <main>
   
    <div class="main-content">
      <h2>Folder / <%=folderName%></h2>
      <table>
        <thead class="table-head">
          <th style="width: 60%">Name</th>
          <th>Type</th>
          <th>Size</th>
          <th>Owner</th>
          <th>Upload date</th>
          <th></th>
        </thead>

        <%if(shareFiles && shareFiles.length !== 0) {%>
        <%shareFiles.forEach(function(val) {%>
        <tr class="table-body">
          <td style="padding: 5px">
            <a
              href="<%=val.type === 'folder' ? `/folder/${val.id}/${val.name}` : `/file/i/${val.id}`%>"
               
              class="file-name" target="_blank"
              ><span
                class="mdi <%=val.type === "folder" ? 'mdi-folder' : 'mdi-file'%>"
                style="color: rgb(109, 109, 108); font-size: 1.5rem"
              ></span><%=val.name%></a
            >
          </td>
          <td><%=val.file_type%></td>
          <td><%=val.file_size ? fileSizeFormat(parseInt(val.file_size)) : "..."%></td>
         <td><%=owner%></td>
          <td><%=format(val.createdAt,"MMMM dd, yyyy")%></td>
          <td class="table-options" id="table-options"> 
             <form action="/file/d/<%=val.id%>" method="POST" ><button type="submit" class="download-default"><span class="mdi mdi-download"></span> Download</button></form>
          </td>
        </tr>
        <%})%> <%}%>
       
      </table>
    </div>
  </main>
</div>
<%-include("footer")%>
