<%-include("header")%>
<script src="/script/fileContent.js" defer></script>
<div class="main-container">
  <%-include("modal")%> <%-include("sidebar")%>
  <main>
    <%-include("nav")%>
    <div class="main-content">
      <h2><%=title%></h2>
      <table>
        <thead class="table-head">
          <th style="width: 60%">Name</th>
          <th>Size</th>
          <th>Owner</th>
          <th>Expires At</th>
          <th></th>
        </thead>

        <%if(sharefiles && sharefiles.length !== 0) {%>
        <%sharefiles.forEach(function(val) {%>
        <tr class="table-body">
          <td style="padding: 5px">
            <a
              href="<%=val['file'].type === 'folder' ? `/folder/${val['file'].id}/${val['file'].name}` : `/file/i/${val['file'].id}`%>"
               data-file-id="<%=val.id%>"
              data-file-type="<%=val.type%>"
              class="file-name" target="_blank"
              ><span
                class="mdi <%=val['file'].type === "folder" ? 'mdi-folder' : 'mdi-file'%>"
                style="color: rgb(109, 109, 108); font-size: 1.5rem"
              ></span><%=val["file"].name%></a
            >
          </td>

          <td><%=val["file"].file_size ? val["file"].file_size : "..."%></td>
         
          <td><%=format(val.expires_at,"MMMM dd, yyyy")%></td>
          <td class="table-options" id="table-options"> <span class="mdi mdi-dots-horizontal-circle-outline options"></span><div class="drop-down-options">
              
              <form method="POST" action="/file/delete/<%=val.id%>/<%=val.type%>" > <button type="submit" > <span class="mdi mdi-delete">
              </span> Remove Share</button></form>
             
              
              
              <%if(val['file'].type === 'file'){%> <span class="mdi mdi-download"> Download</span><%}%>
            </div></td>
        </tr>
        <%})%> <%}%>
      </table>
    </div>
  </main>
</div>
<%-include("footer")%>
